:root {
    --couleur-principale: #00b3ff;
    --couleur-secondaire: #1c1a02;
    --bleu-secondaire: #1c47d4;
    --bleu-tertiaire: #3884fc;
    --couleur-police: rgb(255, 255, 255);
    --couleur-gris : #4c4c4c;
  }

  nav {
    background: black;
       height: 80px;
       width: 100%;
       display: flex;
       justify-content: space-between;
     }
     
     .logo {
      
     height: 60px ;
     width: 60px;
       margin: 9px 22px;
     }
     
     nav ul {
       float: right;
       margin-right: 3rem;
     }
     
     nav ul li {
       display: inline-block;
       line-height: 80px;
       margin-left: 5px;
     }
     
     nav ul li a {
       color:rgb(230, 0, 255);
       font-size: 17px;
       padding: 7px 13px;
       border-radius: 4px;
       text-transform: uppercase;
       font-family: 'poppins';
       font-weight: 400;
     }
     
     nav ul li a.active1,
     nav ul li a:hover {
       background-color: rgba(150, 1, 250, 0.455);
      
     }
     
     .checkbtn {
       
       font-size: 30px;
       color: rgb(255, 221, 0);
       color:rgb(230, 0, 255);
       float: right;
       line-height: 80px;
       margin-right: 40px;
       cursor: pointer;
       display: none;
     
     }
    
     #check {
       display: none;
     }
     
     @media (max-width: 952px) {
       
     
       nav ul li a {
         font-size: 15px;
       }
       nav ul {
         margin-right: 1rem;
       }
     }
     
     @media (max-width: 858px) {
       nav {
       
         flex-direction: row-reverse;
       }
       .checkbtn {
         display: block;
       }
     
       nav ul {
         position: fixed;
         width: 100%;
         height: auto;
         background: black;
         top: 78px;
         left: 0;
         text-align: center;
         transition: all 0.5s ease;
         border-radius: 0px 0px 30px 30px;
         clip-path: inset(0 0 100% 0);
         visibility: hidden;
         z-index: 1000;
       }
       nav ul li {
         display: block;
         margin: 50px 0;
         line-height: 30px;
       }
       nav ul li a {
         font-size: 20px;
       }
       nav ul li a:hover,
       nav ul li a.active1 {
         background: none;
         color: rgb(255, 221, 0);
         z-index: 4;
       }
       #check:checked ~ ul {
         clip-path: inset(0 0 0% 0);
         
         visibility: visible;
       }
     }
















  
/* Styles pour le footer */
footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  padding-left: 25px;
}
.footer-content {
  margin-bottom: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icon {
  color: #fff;
  font-size: 24px;
  margin: 0 5px;
}

/* Animation pour le fond du footer */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.footer-animation {
  animation: gradient-animation 5s ease infinite;
}

