* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: none;

}

:root {
    --couleur-principale: #00b3ff;
    --text-h3: rgb(230, 0, 255);
    --text-titre: rgba(150, 1, 250, 0.455);
    --jaune: rgb(255, 221, 0);
    --couleur-police: rgb(255, 255, 255);
    --couleur-black : #000000;
  }

body {
    height: 100%;
    background-color: black;
}

.ourabah {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

#texte {
    font-weight: bold;
    background-color: rgb(254, 255, 255);
    width: 80vw;
    height: 60vh;
    font-size: 4rem;
}

@media (max-width:600px) {
    #texte {
       
       
        font-size: 2rem;
    }
}

.btn {
    display: flex;
    justify-content: space-around;

    width: 250px;
}

#lecture {
    border: 2px rgb(222, 186, 8) solid;
    border-radius: 25px;
    width: 105px;
    margin: 2%;
    height: 25px;
    font-size: 1em;

}

#lecture:hover {
    background-color: black;
    color: rgb(230, 0, 255);

}

#chut {
    width: 105px
}



#tableau2 {
    margin: 10px;
    text-align: center;
    margin-top: 25px;
    color:var(--text-h3);
  
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
  }
#Tableau1 {
    margin: 10p;
    margin-top: 25px;
    color: var(--jaune);
  
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
}