*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    background-color: black;
}
.image1{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../image/udoy.PNG');
    width: 400px;
    height: 800px;
    border: 2px solid red;
}


.color{
    color: rgb(224, 27, 27);
    text-align: center;
    justify-content: center;
    margin-top: 200px;
}
.jeune{
    color: yellow;
}
.green{
    color: green;
}

/*footer*/

.references {
   color: bisque;
   text-align: center;
}